.image{display: block;}
.page-header{display: flex;
    background-color:$backgroundColor;
    border-bottom: 1px solid #ECECEC;}
.section{
    background-color: $backgroundColor;
    padding-bottom: 94px;}